@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&display=swap');

* {
  font-family: "Raleway";
}

h1 {
  font-weight: bold;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

a {
  color: black;
  text-decoration: none;
}

body {
    margin: 0 auto;
    max-width: 1650px;
    font-size: 100%;
  }

main {
    padding-left: 35px;
    padding-right: 35px;
  }

/*----------------------------------------------------------------------
-----------------------------HEADER-----------------------------
-----------------------------------------------------------------------*/

#img-logo-Reservia {
  height: 60px;
  margin-top: 25px;
  object-fit: scale-down;
  float: left;
}

header {
  height: 80px;
  padding-left: 35px;
  padding-right: 35px;
}

.navigation1 {
  width: 140px;
  height: 100%;
  padding-top: 40px;
}

.navigation1:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
  font-weight: 600;
}

.navigation2 {
  width: 140px;
  height: 100%;

  padding-top: 40px;
}

.navigation2:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
  font-weight: 600;
}

.subscribe a {
  width: 140px;
  height: 100%;

  padding-top: 40px;
  font-weight: 600;
  color: #0065fc;
}

.subscribe a:hover {
  background-color: #0065fc;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr auto auto;
}

nav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

li a {
  text-align: center;
  text-decoration: none;
  color: black;
  height: 100%;
}

nav a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
}

/*----------------------------------------------------------------------
-----------------------------BARRE DE RECHERCHE-----------------------------
-----------------------------------------------------------------------*/

#search-section {
  display: flex;
  height: 55px;
  margin-top: 15px;
}

.logo-localisation {
  position: relative;
  height: 55px;
  background-color: #f2f2f2;
  width: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.fa-map-marker-alt {
  position: absolute;
  color: black;
  top: 25px;
  left: 25px;
  transform: translate(-50%, -50%);
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  width: 450px;
}

.rechercher {
  background-color: #0065fc;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 135px;
  border: none;
  color: white;
  font-weight: bold;
}

.rechercher-responsive{
    display: none;
}

.rechercher span {
  font-size: 15px;
  font-weight: bold;
}

.type-search {
  border: 0.5px #f2f2f2 solid;
  width: 190px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
}

input::placeholder {
  color: black;
  font-size: 1.2em;
}

nav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/*----------------------------------------------------------------------
-----------------------------BAR DES FILTRE-----------------------------
-----------------------------------------------------------------------*/

#filters-section {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  margin-top: 30px;
  flex-wrap: wrap;
}

#filters-section h2 {
  margin: 20px;
}

.filters-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 950px;
}

#filters-section button {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px lightgrey solid;
  height: 55px;
  border-radius: 50px;
  font-weight: bold;
  padding-right: 15px;
  white-space: nowrap;
  transition: transform 0.2s;
  margin-right: 20px;
}

#filters-section button:hover {
  background-color: #deebff;
  border: 2px #deebff solid;
  transform: scale(1.03);
}

#filters-section button:focus {
  background-color: #deebff;
  border: 2px #deebff solid;
}

.filtre-button span {
  font-size: 1.2rem;
  margin-right: 10px;
}

.circle-icon-filter {
  position: relative;
  background-color: #deebff;
  border-radius: 50%;
  height: 54px;
  width: 54px;
  margin-left: -10px;
}
.icon-filter {
  position: absolute;
  color: #0065fc;
  top: 25px;
  left: 28px;
  transform: translate(-50%, -50%);
}

/*---------------------------------------------------------------------
------------------------INFORMATION SUR LA DESTINATION------------------------
-----------------------------------------------------------------------*/

/*CERCLE LOGO INFO*/
.circle-icon-info {
  position: relative;
  height: 25px;
  width: 25px;
  border: #f2f2f2 2px solid;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
}

/*LOGO INFO*/
.fa-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0065fc;
}

#info {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  white-space: nowrap;
}

/*---------------------------------------------------------------------
------------------------la section des chambres------------------------
-----------------------------------------------------------------------*/

#principal-display {
  display: flex;
  justify-content: space-between;

}

/*----------------------------------------------------------------------
------------------------Hebergements a marseille------------------------
------------------------------------------------------------------------*/

.image-size-rooms {
  padding: 0px 0px 0px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  object-position: 0 50%;
  width: 100%;
  height: 145px;
}

#rooms-in-marseille h2{
    padding: 5px 0px 0px 45px;
}

#rooms-in-marseille {
  background-color: #f2f2f2;
  border-radius: 30px;
  width: 67%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rooms-in-marseille h2 {
  padding: 5px 0px 0px 45px;
}

#section-rooms-in-marseille {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 600px;
  padding: 10px 19px;
}

.square-rooms-in-marseille {
  text-decoration: none;
  margin-bottom: 30px;
  color: black;
  height: 40%;
  width: 30%;
  background-color: white;
  border-radius: 30px;
  border: 8px solid white;
  box-shadow: 0px 0px 20px 5px #f2f2f2c4;
}

.square-rooms-in-marseille :hover {
  transform: scale(1.015);
  cursor: pointer;
}

.text-logo-rooms-marseille {
  margin: -8px 5px 10px 4px;
  line-height: 3px;
}

.blue {
  color: #0065fc;
}

.grey {
  color: lightgrey;
}

#more {
  padding: 5px 0px 0px 45px;
  margin: 0px 0px 25px 0px;
  font-weight: 800;
  font-size: 1.2rem;
}


/*----------------------------------------------------------------------
------------------------les plus populaires------------------------
------------------------------------------------------------------------*/

#title-case-right {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 40px 0px;
}

.image-size-popular {
  width: 40%;
  height: 174px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#most-populaires {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 31.5%;
  border-radius: 30px;
}

#section-most-popular {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 10px 35px 30px;
  height: 100%;
  width: 100%;
}

.square-most-popular {
  background-color: white;
  border-radius: 30px;
  border: 8px solid white;
  box-shadow: 0px 0px 20px 5px #f2f2f2c7;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 30%;
}

.square-most-popular :hover {
  transform: scale(1.015);
  cursor: pointer;
}

.square-most-popular a {
  display: flex;
}

.text-logo-most-popular {
  line-height: 5px;
  margin-left: 20px;
  position: relative;
  height: 100%;
}

.text-logo-most-popular p {
  position: absolute;
  top: 60px;
}

.text-logo-most-popular h3 {
  line-height: 22px;
  white-space: normal;
  margin-top: 5px;
}

.star-logo-right {
  position: absolute;
  bottom: 15px;
}

/*----------------------------------------------------------------------
------------------------Activités a marseille------------------------
------------------------------------------------------------------------*/

#Activity-in-marseille {
  height: auto;
  padding-top: 20px;
}

#Activity-in-marseille h4{
    padding-left: 15px;
}

.Section-activity {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.Section-activity a {
  transition: transform 0.2s;
}

.Section-activity a:hover {
  transform: scale(1.015);
}

.big-picture-link {
  height: 560px;
  width: 22%;
  border-radius: 25px;
}

.little-picture-column {
  width: 100%;
}

.picture-pomegues {
  height: 310px;
  border-radius: 25px;
}

.picture-frioul {
  height: 230px;
  border-radius: 25px;
}

.picture-link-right {
  height: 270px;
  border-radius: 25px;
}

.square-article {
  background-color: white;
  box-shadow: 0px 0px 20px 5px #f2f2f2;
  border-radius: 25px;
  height: 100%;
  width: 100%;
}

.columns-picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 560px;
  width: 22%;
}

.Section-activity img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.image-size-activty {
  width: 100%;
}

.vieux-port {
  object-fit: cover;
  height: 500px;
  margin-bottom: -11px;
}

.pomegues {
  object-fit: cover;
  object-position: 0 40%;

  height: 250px;
  margin-bottom: -11px;
}

.frioul {
  object-fit: cover;
  object-position: 0 10%;

  height: 175px;
  margin-bottom: -11px;
}
.calanques {
  object-fit: cover;
  object-position: 50% 0%;

  height: 500px;
  margin-bottom: -11px;
}
.notredame {
  object-fit: cover;
  height: 210px;
  margin-bottom: -11px;
}

.longchamp {
  object-fit: cover;
  object-position: 0 10%;
  height: 210px;
  margin-bottom: -11px;
}

/*----------------------------------------------------------------------
--------------------------------FOOTER--------------------------------
------------------------------------------------------------------------*/

footer {
  background-color: #f2f2f2;
  width: auto;
  margin-top: 50px;
  padding-bottom: 30px;
}

#menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  line-height: 30px;
  padding-left: 3.5em;
  padding-right: 3.5em;
}

.footer-columns {
  width: 33%;
  white-space: nowrap;
}

footer ul {
  list-style: none;
  padding: 0px;
}

footer h3 {
  margin-bottom: -10px;
}



/*----------------------------------------------------------------------
------------------------------------------------------------------------
--------------------------RESPONSIVE MINI laptop---------------------------
------------------------------------------------------------------------
----------------------------------------------------------------------*/


@media screen and (max-width: 1024px) {

    h1{
        font-size: 4wh;
    }


    h3{
        font-size: 2wh;
    }

    h4{
        font-size: 2wh;
    }


    p{
        font-size: 1wh;
    }

    main {
        padding: 0;
    }
    /*------------------------------
    ---------HEADER/NAVBAR----------
    ------------------------------*/

    header{
        height: auto;
        padding: 0;

    }

    .navigation1{
        border-bottom: 3px solid lightgrey;
        position: absolute;
        left: 0px;
        width:50%;
        height: 50%;
        padding-top: 30px;
        padding-top: 30px;
    }

    .navigation1:hover{
        border-top: none;
        border-bottom: 3px solid #0065FC;

        color: #0065FC;
        font-weight: 600;
        
    }

    .navigation2{
        border-bottom: 3px solid lightgrey;
        position: absolute;
        right: 0px;
        width:50%;
        height: 50%;
        padding-top: 30px;

    }

    .navigation2:hover{
        border-top: none;
        border-bottom: 3px solid #0065FC;
        color: #0065FC;
        font-weight: 600;

    }
    .subscribe{
        position: absolute;
        right: 0px;
        width: 100%;
        height: 100%;
        grid-area: subscribe;
        padding-top: 40px;
        text-align: end;
        font-weight: 600;
        color: #0065FC;
    }

    .subscribe a{
        display: inline-block;
        color: #0065FC;
        padding-top: 0px;

    }
    
    .subscribe a:hover{
        background-color: white;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        color:  #0065FC;

    }


    nav{
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "logo subscribe" "nav nav ";
        font-size: 2vh;
    }


    nav ul {
        grid-area: nav;
        display: flex;

    }

    li a{
        text-align:center;
        text-decoration: none;
        color: black;
        height: 100%;

    }

    nav a {
        display: block;
        text-align:center;
        text-decoration: none;
        color: black;
    
    }

    #img-logo-reservia{
        grid-area: logo;
        object-fit: scale-down;
        height: 3.5em;
        margin-top: 15px;
        padding-left: 19px;

    }


    /*------------------------------
    ----------PRESENTATION----------
    ------------------------------*/


    #presentation{
        padding: 40px 19px 25px 19px;
        line-height: 1.2em;
    }

    #presentation h1{
        line-height: 1em;
    }

    .logo-localisation{
        background-color: #F2F2F2;
        width: 17%;
    }

    #search-section{
        padding-left: 19px;
        padding-right: 19px;
        width: 100%;
    }

    .search-bar{
        width: 350px;
    }

    .rechercher{
        display: none;
    }

    .type-search{
        width: 75%;
    }

    .rechercher-responsive{
        display: block;
        background-color: #0065FC;
        border-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 18%;
        border: none;
        color: white;
        outline: none;
        font-weight: bold;
        margin-left: -15px;
    }

    /*------------------------------
    ----------LES FILTRES-----------
    -------------------------------*/
    
    #filters-section{
        padding-left: 19px;
        padding-right: 19px;

    }

    .filters-bar {
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 100%;
    }

    #filters-section button{
        margin-bottom: 25px;
        height: 61px;
        margin-right: 40px;
    }

    .circle-icon-filter {
        height: 61px;
        width: 61px;
    }


    /*------------------------------
    -------------INFOS--------------
    -------------------------------*/

    #info{
        padding-left: 19px;
        padding-right: 19px;
        white-space: normal;

    }
    
    #principal-display{
        display: flex;
        justify-content: flex-start;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    /*--------------------------------------------
    -------------LES PLUS POPULAIRES--------------
    ---------------------------------------------*/

    #most-populaires{
        flex-direction: column;
        width: 100%;
        height: 380px;
        border-radius: 0px;

    }


    #section-most-popular{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px 0px;
        width: 100%;
        height: 100%;
    }

    .square-most-popular{
        width: 30%;
        height: 100%;
    }

    .square-most-popular a {
        display: flex;
        flex-direction: column;
    }

    #title-case-right{
        justify-content: space-between;
        padding: 0px 35px ;    
    }

    .image-size-popular{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        width: 100%;
        height: 170px;
    }

    .text-logo-most-popular{
        margin: 0px 0px 0px 9px;
    }
 
    .text-logo-most-popular p{
        top: 40px;
    }

    .star-logo-right{
        bottom: 5px;
    }

    /*-------------------------------------------------
    -------------HEBERGEMENTS A MARSEILLE--------------
    --------------------------------------------------*/

    #rooms-in-marseille{
        border-radius: 0px;
        width: 100%;
        height: 780px;

    }

    #section-rooms-in-marseille{
        height: 100%;
    }

    #section-rooms-in-marseille a{
        width: 48%;
        height: fit-content;
    }
    .image-size-rooms{

        height: 170px;

    }



    /*------------------------------
    -------------ACTIVITE-----------
    -------------------------------*/

    #Activity-in-marseille{
        padding-left: 0px;
        padding-right: 19px;
    }


    .square-article{
        height: auto;
        margin-bottom: 50px;
    }

    .Section-activity{
        flex-wrap: wrap;
        padding-left: 19px;
        padding-right: 19px;

    }

    .big-picture-link{
        height: auto;
        width: 48%;
    }

    .columns-picture{
        width: 48%;
    }

    /*------------------------------
    -------------FOOTER-----------
    -------------------------------*/

    footer{
        width: auto;
        margin-top: 50px;
        padding-bottom: 15px;
    }

    #menu-footer {
        flex-direction: column;
    }

    li a{
        font-size: 1wh;
    }

}


/*----------------------------------------------------------------------
------------------------------------------------------------------------
--------------------------RESPONSIVE MOBILE/TABLETTE--------------------
------------------------------------------------------------------------
----------------------------------------------------------------------*/

@media screen and (max-width: 900px){
  

    h1{
        line-height: 1em;
        font-size: 1wh;
    }
        
    h2{
        font-size: 1wh;
    }
    
    h3{
        font-size: 1wh;
        font-weight: 700;
    }
    
    h4{
        font-size: 1wh;
     
    }
    
    p{
        font-size: 1wh;
    }

    /*-----------------------------------------
    -------------HEADER/NAVBAR-----------
    ------------------------------------------*/

    .subscribe a{
        font-size: 1wh;
    }

    .navigation1{
        font-size: 1wh;

    }

    .navigation2{
        font-size: 1wh;

    }


    #filters-section button {
        height: 55px;
        margin-right: 10px;
    }

    .circle-icon-filter {
        height: 55px;
        width: 55px;
    }

    /*---------------------------------------------
    -------------LES PLUS POPULAIRES-----------
    ---------------------------------------------*/
    #most-populaires{
        flex-direction: column;
        width: 100%;
        height: 800px;
        border-radius: 0px;

    } 
    
    .image-size-popular{
        width: 45%;
        height: 180px;
        border-top-left-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 20px;
    }

    .square-most-popular a{
        flex-direction: row;
    }

    .square-most-popular {
        width: 100%;
        height: 25%;
    }


    #section-most-popular{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 10px 20px;
        width: 100%;
        height: 100%;
    }

    .text-logo-most-popular{
        padding: 5px 10px;
    }

    .text-logo-most-popular p{
        top: 25px
    }

    .star-logo-right{
        bottom: 10px;
    }

    /*---------------------------------------------
    -------------hebergement a marseille-----------
    ---------------------------------------------*/
    
    #rooms-in-marseille{
        height: auto;
        background-color: white;
        border-radius: 0px;
        width: 100%;
    }

    .square-rooms-in-marseille{
        width: 100%;
        height: 15%
    }

    .text-logo-rooms-marseille {
        margin: 0px 5px 10px 9px;
    }

    .text-logo-rooms-marseille p{
        top: 45px;
        line-height: 1em;
    }
 
    #more{
        font-weight: 800;
    }


    /*------------------------------
    -------------ACTIVITE-----------
    -------------------------------*/

    .Section-activity{
        flex-direction: column;
    }

    .image-size-activty{
        height: 210px;
    }

    .big-picture-link{
        width: 100%;
    }

    .big-picture-link-2{
        margin-top: 100px;
    }

    .columns-picture{
        width: 100%;
        height: 550px;
    }

    .columns-picture-2{
        width: 100%;
        height: 575px;
    }

}



